@font-face                                                  {
    font-family: 'LOVES';
    src: url(./fonts/LOVES.ttf) format("truetype");
}

@font-face                                                  {
    font-family: 'SpartanMB';
    src: url(./fonts/SpartanMB-Thin.otf) format('opentype')
}


html                                                        { font-size: 10px; font-family: 'LOVES'; }

h1,h2,h3,h4,h5,h6                                           { margin: 0; }
h1                                                          { font-family: 'LOVES'; font-size: 4.8rem; letter-spacing: 8%; }
h2                                                          { font-family: 'SpartanMB'; font-size: 4.8rem; }
h3                                                          { font-family: 'LOVES'; font-size: 3.0rem; letter-spacing: 25%; }
h4                                                          { font-family: 'LOVES'; font-size: 2.8rem; }
h5                                                          { font-family: 'Courier New'; font-size: 2.4rem; }
h6                                                          { font-family: 'LOVES'; font-size: 2.0rem; }
h7                                                          { font-family: 'Courier New'; font-size: 2.0rem; text-decoration: underline; text-transform: uppercase; font-weight: bold; }
.movie-subtext                                              { font-family: 'Courier New'; font-size: 1.5rem; font-weight: bold; }

li                                                          { font-family: 'Courier New'; font-size: 2.4rem; }
a                                                           { color: black; }
a:hover                                                     { color: black; text-decoration: none; }

.container                                                  { background-color: white; position: relative; padding-left: 0; padding-right: 0;}
.container.padded                                           { padding-bottom: 105px; margin-bottom: 50px; }

.center-col                                                 { display: flex; justify-content: center;}
.fixed-height                                               { height: 60vh; }
.sp-flex-column                                             { display: flex; flex-direction: column; }

#header                                                     { position: relative; z-index: 100; background-color: white; height: 80px; box-shadow: 0 0 20px black; display: flex; align-items: center; }

#header .header-col                                         { display: flex; justify-content: space-between; }

#header .right                                              { display: flex; align-items: center; }

#header .right > *                                          { padding: 0 15px; }

.backdrop                                                   { position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background-position: center; background-repeat: no-repeat; background-size: cover; }
.backdrop.trees                                             { background-image: url("./media/robinson.jpg"); }
.backdrop.birds                                             { background-image: linear-gradient(to bottom, rgba(64, 64, 64, 0.8), rgba(0, 0, 0, 0.85)), url("./media/birds.jpg"); }

.search-form {
    width: 100%;
    display: flex;
}

.search-form input[type=submit] {
    background-color: white;
    border: none;
    padding: 8px;
    font-size: 24px;
    font-family: 'LOVES';
    width: 64px;
    transition: all 0.2s linear;
    padding-left: 12px;
}

.search-form input[type=submit]:hover { 
    background-color: black;
    color: white;
}
.search-input {
    width: 100%;
    font-size: 24px;
    font-family: "Spartan MB";
    border: none;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 8px;
    padding-left: 16px;
}

.search-info {
    margin-top: 60px;
    padding: 60px;
    background-color: black;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: "LOVES";
    letter-spacing: 0.25em;
}

.results {
    margin-top: 20px;
}
.results .list {
    display: flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    width: fit-content;
    width: -moz-fit-content; 
}

.results .list .bullet {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-family: "LOVES";
    padding-left: 6px;
    padding-bottom: 2px;
}

.results .list .item-name {
    padding-left: 8px;
    transition: all 0.2s linear;
    font-size: 24px;
    font-family: "LOVES";
}

.results .list:hover .item-name {
    padding-left: 16px;
}

.no-results {
    margin-top: 60px;
    text-align: center;
    font-size: 24px;
    font-family: "LOVES";
    letter-spacing: 0.25rem;
    opacity: 0.5;
}

section                                                     { padding-top: 70px;}
#home .col-12                                               { display: flex; flex-direction: column; }

/*#home a                                                     { position: relative; transition: all 0.2s linear; width: 500px; height: 80px; font-family: 'LOVES'; display: flex; align-items: center; justify-content: center; border: 0.5px solid black; box-shadow: 0 0 4px gray; margin-top: 30px; } */
/*#home a:hover, #home a:active                               { background-color: black; color: white; } */
#home a:after                                               { content: '>'; opacity: 0.2; color: white; font-family: 'LOVES'; font-size: 3.6rem; position: absolute; right: 68px;  transition: all 0.4s ease-out; }
#home a:hover:after                                         { right: 48px; opacity: 1; }

#home .or                                                   { font-family: 'LOVES'; font-size: 2.6rem; margin-top: 30px; }

.list-content                                               { flex: 1; display: flex; flex-direction: column; margin-top: 70px; margin-bottom: 100px; margin-left: 30px; }
#list-items                                                 { display: flex; flex-direction: column; flex: 1; padding-left: 0; margin-bottom: 0; }

.description                                                { background-color: black; padding: 20px; text-align: center; font-family: "Courier New"; font-size: 20px; color: white; margin-top: 100px; }
#lists h2                                                   { margin-top: 100px; letter-spacing: 0.08em; text-transform: uppercase; text-align: center;}
#lists h3                                                   { cursor: pointer; padding: 10px; transition: all 0.1s linear; display: flex; align-items: center; font-size: 20px; letter-spacing: 0.08em; text-transform: uppercase; margin-left: 30px; margin-right: 30px; border-radius: 15px; }
#lists h3 svg                                               { margin-right: 5px; }
#lists h3:hover                                             { background-color: black; color: white; }

#description-content                                        { 
    resize: none; 
    padding: 15px;
    width: 100%;
    background-color: black;
    border: none;
    text-align: center;
    height: auto;
}

#lists #list-items                                          { list-style: none; counter-reset: listCounter; }
#lists #list-items .list-name::before                       { content: counter(listCounter) ". "; padding-left: 20px;}
#lists #list-items .list-name                               { counter-increment: listCounter; }
#lists .list-name                                           { margin-bottom: 5px; font-size: 20px; border-radius: 10px; padding: 10px 0; transition: all 0.1s linear; width: fit-content; width: -moz-fit-content; }
#lists .list-name-content                                   { display: inline-block; }
#lists .list-name.editable                                  { cursor: pointer; }
#lists .list-name.editable:hover                            { padding-left: 10px; }
#lists .list-name.selected                                  { background-color: black; color: white; padding-left: 10px; }

.list-options-pos                                           { position: sticky; top: 90vh; }
#list-options                                               { box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); display: flex; position: absolute; left: -20px; background-color: white; padding: 12px 6px; border-radius: 20px; flex-direction: row; height: 40px; align-items: center; }

.list-option                                                { display: flex; align-items: center; justify-content: center; padding: 6px; }
.list-option[disabled]                                      { display: none; }
.list-option svg                                            { cursor: pointer; width: 24px; height: 24px; color: black; transition: all 0.2s linear; border-radius: 12px; }
.list-option svg:hover                                      { box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}

#new-item-input                                             { border: 0; position: relative; z-index: 10; background-color: transparent;}
.input-container                                            { display: inline-block; position: relative; }
#shadow-text                                                { position: absolute; top: 1px; left: 1px; }
.list-option#remove svg                                     { color: red; }

.list-settings                                              { margin-top: 10px; display: flex; justify-content: center; }

#login form                                                 { display: flex; flex-direction: column; }
#login h2                                                   { margin-bottom: 32px; margin-top: 20px; }
#login form input[type=text],
#login form input[type=password]                            { font-family: "Spartan MB"; font-size: 16px; padding: 16px; width: 350px; height: 48px; border: 0.5px solid #000000; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); margin-bottom: 40px; }
#login form input[type=submit]                              { width: 48px; height: 48px; background-color: white; color: black; border: 1px solid black; font-size: 24px; transition: all 0.2s linear; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
#login form input[type=submit]:hover                        { background-color: black; color: white; }

.to-create                                                  { display: block; font-family: "Spartan MB"; font-size: 16px; margin-top: 40px; }
#no-access {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 24px;
    font-family: 'Spartan MB';
}

#no-access a {
    display: block;
    margin-top: 40px;
    font-size: 18px;
    font-family: 'LOVES';
}
#lock .unlocked-content                                     { display: flex; align-items: center;}
#lock .locked-content                                       { display: none; }
#lock.locked .unlocked-content                              { display: none; }
#lock.locked .locked-content                                { display: flex; align-items: center;}

.modal-content {
    border-radius: 0;
}
.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EB5757;
}

.modal-header .modal-title {
    font-family: 'LOVES';
    font-size: 30px;
    color: white;
}

.modal-header .close {
    display: none;
}

.modal-body {
    padding-top: 60px;
    font-family: "Spartan MB";
    font-size: 20px;
    text-align: center;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    border-top: none !important;
}

.modal-footer button{
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    color: black !important;
    text-shadow: none !important;
    font-family: "LOVES";
    font-size: 30px; 
}

.modal-footer button.btn-primary {
    background-color: #EB5757 !important;
    color: white !important;
}


.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.poster-section {
    height: 360px;
    width: 100%;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/*
This class removes the fading effect around element edges when using blur
*/
.poster-blurfix {
    position: absolute;
    height: 100%;
    width: 100%;
}

.poster-background {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.poster-image {
    max-height: 100%;
    position: relative;
}

.list-item .movie-info {
    padding-left: 20px; 
}

.close-item {
    padding: 20px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desktop-movie-wrap {
    position: sticky;
    top: 0;
    padding-top: 80px;
    width: 400px;
}

@media(max-width:768px) {

    .list-content {
        margin-left: 0;
    }

    #lists .list-name.selected > *                              { margin-top: 10px; }

    .poster-section {
        height: 250px; 
    }

    #lists .list-name {
        font-size: 18px; 
        width: 100%;
        border-radius: 0; 
        transition: 0; 
    }

    #lists .list-name.selected {
        padding-left: 0;
    }
}